.reset{
	-moz-appearance: none;
	-webkit-appearance: none;
	font-family: raisonne;
	font-size:50px;
	background: white;
	opacity:0.8;
	border: #FF6347 solid 5px;
	color:#FF6347;
	padding:10px;
	font-weight: bold;
	outline: none;
	margin-top: 250px;
	margin-left:430px;
	position:absolute;
	cursor:pointer;
}