.greeting {
    font-family: apercu;
    font-size: 20px;
}

.sayhi{
	-moz-appearance: none;
	-webkit-appearance: none;
	font-family: apercu;
	font-size:12px;
	color: blue;
	background: white;
	border: blue solid 1px;
	outline: none;
}